html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: rgb(28,28,30);
}

/* main page */
.list-books {
  padding: 10px 45px;
}

.list-books-title {
  padding: 10px 0px 5px;
  margin: 0px 20px;
  border-bottom: 0.5px solid rgb(72, 72, 74);
}

.list-books-title h1 {
  font-weight: 400;
  color: rgb(229, 229, 234);
  font-family: -apple-system-headline;
  margin-bottom: 0px;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 20px 10px 0px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 40px 20px 0px;
  }
}

.bookshelf-title {
  color: rgb(229, 229, 234);
  border-bottom: 0.5px solid rgb(72, 72, 74);
  font-family: -apple-system-caption1;
  font-size: 20px;
  padding-bottom: 5px;
}

.bookshelf-books {
  display: flex;
  flex-direction: row;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color: rgb(0, 132, 255);
}


/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 150px;
  margin-right: 25px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
  font-family: -apple-system-short-headline;
}

.book-title {
  margin: 15px 0px 5px;
  color: rgb(229, 229, 234);
}

.book-authors {
  color: rgb(142, 142, 147);
}

.book-top {
  position: relative;
  height: 200px;
  /* display: flex;
  align-items: flex-end; */
}

.book-shelf-changer {
  z-index: 20;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-changer-hover {
  background: rgb(0, 132, 255);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-size: contain;
  background: #eee;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.book-cover-faded {
  background-color: rgba(90, 90, 90, 0.25);
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 200px;

}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.no-result-msg {
  color: rgb(229, 229, 234);
  font-family: -apple-system-caption1;
  font-size: 20px;
}

